<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>tekito</servlet-name>
		<display-name>tekito</display-name>
		<description></description>
		<servlet-class>controller.tekito</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateQuery</servlet-name>
		<display-name>CreateQuery</display-name>
		<description></description>
		<servlet-class>controller.CreateQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExcelOut</servlet-name>
		<display-name>ExcelOut</display-name>
		<description></description>
		<servlet-class>controller.ExcelOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderRecordDaoServlet</servlet-name>
		<display-name>OrderRecordDaoServlet</display-name>
		<description></description>
		<servlet-class>dao.OrderRecordDaoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<display-name>DownloadServlet</display-name>
		<description></description>
		<servlet-class>controller.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tekito</servlet-name>
		<url-pattern>/tekito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateQuery</servlet-name>
		<url-pattern>/CreateQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcelOut</servlet-name>
		<url-pattern>/ExcelOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderRecordDaoServlet</servlet-name>
		<url-pattern>/OrderRecordDaoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/DownloadServlet</url-pattern>
	</servlet-mapping>
	

	
</web-app>



